/*---////---// menu toggle mediaqueris //---////---*/

@media screen and (max-width: 1133px) {
    /*añadimos el menu toggle*/
    .menu-label {
        position: absolute;
        right: 6.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bg-gold);
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 50%;
        border: 1px solid var(--bg-dark);
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

    .menu-label:hover {
        background: #8515ee62;
        border: 1px solid var(--bg-gold);
        transform: scale(1.05);
        transition: all 0.2s ease-in;
    }

    .menu-label img {
        height: 2rem;
    }


    .nav-links {
        display: none;
    }

    .open-menu {
        position: absolute;
        top: 5rem;
        right: 0;
        width: 17rem;
        height: calc(100vh - 5rem);
        flex-direction: column;
        background-color: #03071ece;
        border-left: 1px solid var(--bg-gold);
        border-bottom: 1px solid var(--bg-gold);
        gap: 5rem;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*---cart---*/

    .cart {
        width: 20rem;
        background: #03071ece;
    }

    .cart-btn-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


  /*productos*/

  .cart h2 {
    font-size: 2rem;
  }
  
  .cart-item {
    flex-direction: column;
  }
  

  
  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .item-title {
    font-size: 1.1rem;
  }

  .item-price-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .item-bid {
    color: var(--txt-grey);
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  
  .item-price {
    background: linear-gradient(to top, #d03030, #ffffff);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    color: var(--txt-light);
    font-weight: 400;
    font-size: 1.1rem;
    font-family: sans-serif;
  }
  
  .item-quantity {
    color: var(--txt-light);
    font-size: 1.2rem;
  }

}

/*---////---// menu toggle mediaqueris //---////---*/




/*---////---// main mediaqueris //---////---*/


@media screen and (max-width: 1253px) {

  /*--/---//--Hero--//---/--*/

.hero-info {
  width: 80%;
  gap: 5rem;
}

.hero-h1 {
  font-size: 1.7rem;
  margin-top: 0;
}


.hero-p {
  font-size: 1.1rem;
  width: 100%;
  height: 17rem;
}


.hero-btn {
  width: 8rem;
  height: 2.8rem;
}

.hero-btn a {
  font-size: 0.8rem;
}



  /*--/---//--Hero--//---/--*/


  /*-//--/ categories /--//-*/

.categories {
  gap: 2rem;
}

.category {
  width: 9rem;
  height: 2.5rem;
}


  /*-//--/ categories /--//-*/

 
  /*-//--/// products ///--//-*/

  .products-container {
    padding: 6rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.product {
  width: 20rem;
  height: 34rem;
}

.product-img img {
  height: 16rem;
}

  /*-//--/// products ///--//-*/


  /*/--////--about--////--/*/


/*--- about top ---*/

.about-top-info {
  padding: 0;
}

.about-top-info-title {
  font-size: 1rem;
}

.about-top-info-p {
  font-size: 0.9rem;
  padding: 0 2rem;
}

/*--- about top ---*/

/*--- about mid ---*/

.about-mid-info {
  padding: 0;
}

.about-mid-info-title {
  font-size: 1rem;
}

.about-mid-info-p {
  font-size: 0.9rem;
  padding: 0 2rem;
}

/*--- about mid ---*/

/*--- about bottom ---*/

.about-bottom-info {
  padding: 0;
}

.about-bottom-info-title {
  font-size: 1rem;
}

.about-bottom-info-p {
  color: var(--bg-gold);
  font-size: 0.9rem;
  padding: 0 2rem;
  font-weight: 800;
}

/*--- about bottom ---*/

  /*/--////--about--////--/*/

/*----banners mediaqueris----*/

/*1*/
#banner {
  height: 10rem;
}

.banner-title {
  font-size: 2rem;
}

/*2*/
.about-banner {
  height: 10rem;
}

.about-h {
  font-size: 2rem;
}

/*3*/
#contact-banner {
  height: 10rem;
}

.contact-h {
  font-size: 2rem;
}

/*----banners mediaqueris----*/


}